registry=https://registry.npmjs.org/
recursive-install=false
dedupe-peer-dependents=false
strict-peer-dependencies=false
auto-install-peers=true
link-workspace-packages=true
ignore-workspace-root-check=true
